@charset "utf-8";

:root{
    font-size: 16px;
    line-height: 1.5;
}

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #FDFDFD;
    --grey: #352E28;
    --green: #3D5D52;
    --light-green: #3d5d5251;
    --beige: #d3b8a5d3;
    --link: #0c4ebf;
    --font-names: 'Dancing Script', cursive;
    --font-text: 'Inter', sans-serif;
    --font-titles: 'Oswald', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
    background-color: var(--white);
    font-family: var(--font-text);
}


/** TITULOS Y PÃRRAFOS  **/
h1, h2, h3 {
    font-family: var(--font-titles);
}

h1 {
    text-align: center;
    top: 35vh;
    color: var(--grey);
    font-size: 4rem;
}

h2 {
    text-align: center;
    color: var(--grey);
}

.card-front>p {
    font-family: var(--font-names);
    font-weight: 700;
}


/** HEADER **/
header {
    flex: 0 0 70vh;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--beige);
}

header {
    & h1, nav, video, #content {
        position: absolute;
        width: 100%;
        & ul li a {
            color: var(--white);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    & #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(transparent, white);
        height: 70vh;
    }
    & figure {
        width: 100vw;
        height: 70vh;
        & video{
            height: 70vh;
            right: 0;
            top: 0;
            object-fit: cover;
        }
    }
    & nav {
        top: 0;
        & ul {
            display: flex;
            justify-content: right;
            & li{
                list-style-type: none;
                padding: 1rem;
            }
        }
    } 
}
/* DROP DOWN */
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 1rem;
    color: var(--white);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--white);
    padding: 1rem;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: var(--green);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--grey);
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--light-green);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/** MAIN **/
main{
    flex: 1 0 auto;
    width: 100vw;
    max-width: 900px;
    /* padding: 0 1em; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

/* Introduction */
section:first-of-type{
    padding: 1rem;
}

/* General styles for card */
.card{
    /* width: 300px; */
    width: 18%;
    height: 600px;
    border-radius: 15px;
    flex: none;
    & figure{
        width: 100%;
        max-height: 50%;
        & img{
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
        & iframe {
            /* width: 560px;
            height: 315px; */
            width: 187px;
            height: 105px;
            border-radius: 15px;
            object-fit: contain;
            border: none;
            box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
        }
    }
    & h2, p{
        width: 90%;
        color: var(--green);
    }
    & p{
        color: var(--grey);
    }
}
.card-front, .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    background-color: var(--white);
    border-radius: 15px;
}

.card-front {
    & p{
        text-align: right;
    }
}

/** HORIZONTAL SLIDE */
.container-slider{
    width: 100%;
    max-width: 900px;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
}

.slider{
    height: 615px;
    width: 400%;
    display: flex;
    gap: 1.5%;
    margin-left: -64%;
}

.card{
    margin: 0;
}

.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    border: none;
}

.slider-btn-right{
    right: 10px;
}

.slider-btn-left{
    left: 10px;
}

.slider-btn:hover{
    background-color: #fff;
    cursor: pointer;
}

/** FLIP  */
/* The flip card */
.card {
    background-color: transparent;
    perspective: 1000px; /* 3D effect */
}
  
  /* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

  /* Do an horizontal flip on hover (only card in the middle) */
.actual:hover .card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

/** MODAL */

.overlay {
    position: absolute;
    /* background-color: #de1c1c6c; */
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 25%;
    cursor: pointer;
}
.video-container iframe{
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 25%;
}
/* Modal (background) */
.modal{
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.oculta-modal{
    display: none;
}

/* Modal Content/Box */
.modal-container {
    position: relative;
    /* margin: auto; */
    padding: 0;
    width: 95%;
    height: 100%;
    animation: modal;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The video */
.modal-container figure{
    width: 85%;
    aspect-ratio: 16/9;
    & iframe{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 15px;
    }
}


/* The Close Button */
.modal-container i {
    color: var(--grey);
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    transition: transform ease 0.3s;
}

.modal-container i:hover,
.modal-container i:focus {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15);
}


/* Add Animation */
@keyframes modal {
    from {
        top: -300px;
         opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/** FORM **/
form {
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
    & fieldset{
        border: none;
        width: 100%;
        & ul li {
            list-style: none;
            margin: 0.5em 0;
        }
        & input {
            padding: 0.5em 1em;
            border: 1px solid var(--light-green);
            border-radius: 6px;
            outline: none;
            color: var(--green);
            &::placeholder{
                color: var(--light-green);
            }
        }
        & #name, #surname, #email {
            width: 100%;
            &:focus{
                border: 1px solid var(--green);
            }
            &:active{
                border: 1px solid var(--green);
            }
        }
        & input[type="checkbox"] {
            accent-color: #fdfdfd;
            background-color: #3D5D52;
        }
        & input[type="submit"] {
            background-color: var(--green);
            color: var(--white);
        }
        & input[type="reset"] {
            background-color: var(--white);
            color: var(--green);
        }
        & input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="submit"]:active,
        input[type="reset"]:active {
            background-color: var(--light-green);
            color: var(--green);
        }
        & label {
            color: var(--grey);
            & a {
                color: var(--link);
            }
        }
    }
}


/** FOOTER **/
footer{
    flex: 0 0 15vh;
    & p, div{
        margin: 0 auto;
    }
    & div{
        display: flex;
        gap: 1rem;
    }
    & div>p{
        font-size: 1.5rem;
        & i{
            color: var(--grey);
            font-size: 1.8rem;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}