@charset "utf-8";

:root{
    font-size: 16px;
    line-height: 1.5;
}

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #FDFDFD;
    --grey: #352E28;
    --green: #3D5D52;
    --light-green: #3d5d5251;
    /* --beige: #d3b8a5d3; */
    --beige: #e7bdb7d3;
    --soft-beige: rgba(231, 189, 183, 0.269);

    --link: #0c4ebf;
    --font-names: 'Dancing Script', cursive;
    --font-text: 'Inter', sans-serif;
    --font-titles: 'Oswald', sans-serif;
    /* FORM VALIDATION COLORS */
    --bg-error: rgb(246, 96, 96);
    --bt-btn: rgb(51,51,51);
    --color-shadow: rgba(46,45,45,0.4);
    --color-send: rgb(17,146,0);
    --color-check: rgb(30,209,45);
    --color-warning: rgb(187,41,41);
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    background-color: var(--white);
    /* background-color: var(--soft-beige); */
    font-family: var(--font-text);
}


/** TITULOS Y PÁRRAFOS  **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-titles);
}

h1 {
    text-align: center;
    top: 35vh;
    color: var(--grey);
    font-size: 4rem;
}

h2 {
    text-align: center;
    color: var(--grey);
}


/** HEADER **/
header {
    flex: 0 0 60vh;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: var(--white);
    & h1, nav, video, #content {
        position: absolute;
        width: 100%;
        }
    & #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(transparent, white);
        height: 61vh;
    }
    & figure {
        width: 100%;
        height: 60vh;
        & video{
            height: 60vh;
            right: 0;
            top: 0;
            object-fit: cover;
        }
    }
    & nav {
        top: 0;
        & ul {
            display: flex;
            justify-content: right;
            overflow: hidden;
            font-family: var(--font-text);
            & li{
                list-style-type: none;
                padding: 1rem;
            }
        }
    } 
}
/* DROP DOWN */
  /* The dropdown container */
  .dropdown {
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn,
  ul li a:not(div>a) {
    display: inline-block;
    text-decoration: none;
    line-height: 1.5;
    font-size: 1rem;
    border: none;
    outline: none;
    color: var(--white);
    padding: 1rem;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
  }
  
  /* Add a background color to navbar links on hover */
  .dropdown:hover .dropbtn,
  ul li a:not(div>a):hover {
    background-color: var(--green);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: var(--grey);
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: var(--light-green);
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/** MAIN **/
main{
    flex: 1 0 auto;
    width: 100vw;
    /* max-width: 900px; */
    /* padding: 0 1rem; */
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

/* Introduction */
section:first-of-type{
    padding: 1rem;
}

/** General styles for card */
.card{
    /* width: 300px; */
    width: 18%;
    height: 650px;
    border-radius: 15px;
    flex: none;
    & figure{
        width: 100%;
        min-height: 168px;
        max-height: 400px;
        position: relative;
        & img{
            width: 100%;
            height: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
            object-position: top;
        }
        & #click{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 60%;
            left: 38%;
            background-color: rgba(255, 255, 255, 0.3);
            padding: 5px;
            border-radius: 50%;
        }
        & figcaption{
            background-color: rgba(51, 51, 51, 0.7);
            width: 100%;
            color: var(--white);
            position: absolute;
            bottom: 0;
            padding: 0 .5rem;
            & a{
                color: inherit;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    & h3, p{
        width: 90%;
        color: var(--green);
    }
    & p{
        color: var(--grey);
    }
}


.card figure #click{
    animation-name: click;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    /* animation-timeline: view(y);
    animation-range-start: entry;
    animation-play-state: running; */
}

@keyframes click{
    0%{transform: scale(1);}
    20%{transform: scale(.9);}
    40%{transform: scale(1);}
    60%{transform: scale(.9);}
    80%{transform: scale(1);}
    97%{opacity: 1;}
    100%{opacity: 0; transform: scale(.8);}
}

.card-front, .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--white);
    border-radius: 15px;
    text-align: left;
    & h3, h4{
        text-align: center;
    }
}

.card-back figure{
    width: 187px;
    height: 105px;
    & iframe {
        width: 187px;
        height: 105px;
        border-radius: 15px;
        object-fit: contain;
        border: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
    }
    & .overlay {
        position: absolute;
        /* background-color: #de1c1c6c; */
        bottom: 25%;
        left: 0;
        width: 187px;
        height: 105px;
        cursor: pointer;
    }
}


/** HORIZONTAL SLIDE */
.container-slider{
    width: 100%;
    max-width: 600px;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
}

.slider{
    height: 665px;
    width: 400%;
    display: flex;
    gap: 1.5%;
    margin-left: -64%;
}

.card{
    margin: 0;
}

.slider-btn{
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    width: 14%;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    border: none;
}

.slider-btn-right{
    right: 0px;
    border-radius: 15px 0 0 15px;
}

.slider-btn-left{
    left: 0px;
    border-radius: 0 15px 15px 0;
}

.slider-btn:hover{
    /* background-color: #fff; */
    cursor: pointer;
    font-size: 40px;
}
/** Filter actual */
.card{
    filter: opacity(0.3);
}
.actual{
    filter: none;
}
/** FLIP  */
/* The flip card */
.card {
    background-color: transparent;
    perspective: 1000px; /* 3D effect */
}
  
/* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

  /* Do a horizontal flip on hover (only card in the middle) */
.actual:hover .card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}


/** MODAL */
.modal{
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.oculta-modal{
    display: none;
}

/* Modal Content/Box */
.modal-container {
    position: relative;
    /* margin: auto; */
    padding: 0;
    width: 95%;
    height: 100%;
    animation: modal;
    animation-duration: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* The video */
.modal-container figure{
    width: 85%;
    aspect-ratio: 16/9;
    & iframe{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 15px;
    }
}


/* The Close Button */
.modal-container i {
    color: var(--grey);
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    transition: transform ease 0.3s;
}

.modal-container i:hover,
.modal-container i:focus {
    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.15);
}

/* Add Animation */
@keyframes modal {
    from {
        top: -300px;
         opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/** Section - Description */
#details{
    max-width: 500px;
    padding: 1rem;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}


/** FORM **/
form {
    width: 80%;
    min-width: 310px;
    padding: 2rem;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-beige);
    border-radius: 10px;
    & fieldset:first-of-type{
        width: 100%;
    }
    & fieldset{
        border: none;
        & .div-input {
            list-style: none;
            margin: 0.5rem 0;
            display: flex;
            align-items: center;
            gap: .5rem;
        }
        & input {
            width: 100%;
            padding: 1rem 1.5rem;
            font-size: 1rem;
            border: 1px solid var(--light-green);
            border-radius: 6px;
            outline: none;
            color: var(--green);
            &::placeholder{
                color: var(--light-green);
            }
        }
        & #name, #surname, #email {
            &:focus{
                border: 1px solid var(--green);
            }
            &:active{
                border: 1px solid var(--green);
            }
        }
        & input[type="checkbox"] {
            width: min-content;
            /* padding: 0.5rem; */
            accent-color: #fdfdfd;
            background-color: #3D5D52;
        }
        & input[type="submit"] {
            background-color: var(--green);
            color: var(--white);
            max-width: 200px;
            margin: 0;
        }
        & input[type="reset"] {
            background-color: var(--white);
            color: var(--green);
            max-width: 200px;
            margin-right: 18px;
            margin-bottom: 9px;
        }
        & input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="submit"]:active,
        input[type="reset"]:active {
            background-color: var(--light-green);
            color: var(--green);
        }
        & label {
            color: var(--grey);
            & a {
                color: var(--link);
            }
        }
    }
    & fieldset:last-of-type{
        margin: 0.5rem auto;
    }
}

.data-input-error{
    font-size: 0.8rem;
    margin: 10px 0;
    display: none;
}
.data-input-error-active{
    display: block;
}
.div-input{
    position: relative;
}
.validation-status{
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 1.5rem;
    z-index: 1;
    opacity: 0;
}

.m_error{
    height: 45px;
    line-height: 45px;
    background-color: var(--bg-error);
    padding: 0 15px;
    border-radius: 3px;
    margin: 1rem 0;
    display: none;
}
.m_error p{
    margin: 0;
}
.m_error-active{
    display: block;
}

/* Estilos para la validación */
.correct .validation-status{
    color: var(--color-check);
    opacity: 1;
}

.incorrect .validation-status{
    color: var(--color-warning);
    opacity: 1;
}
.incorrect .data-input{
    border: 1px solid var(--color-warning);
    color: var(--color-warning);
}

/*? Style for PRINCIPAL */ 

.principal{
    display: flex;
    flex-direction: column;
    & li{
        list-style: none;
    }
    & section{
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        width: 95%;
        margin: auto;
        & h2{
            font-size: 2rem;
            color: var(--green);
            /* background-color: var(--light-green); */
            letter-spacing: .15rem;
            padding-bottom: 1.5rem;
            
        }
        
        & .photo{
            order: 0;
            width: 100%;
            grid-row: 3;
            & img{
                width: 100%;
            }
        }
        & h3{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            /* display: block; */
            color: var(--grey);
            width:  100%;
            align-self: center;
            padding-bottom: .6rem;
            border-bottom: 1px solid var(--light-green);
            margin: .8rem 0;
            
            font-size: 1.4rem;
            /* text-align: center; */
        }
        & p{
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            color: var(--grey);
            text-align: justify;
        }
        & iframe{
            border: none;
            aspect-ratio: 16/9;
        }
    }
}

/** FOOTER **/
footer{
    flex: 0 0 15vh;
    background-color: var(--green);
    color: var(--white);
    & p, div, a{
        margin: 0 auto;
    }
    & a{
        color: inherit;
        text-decoration: none;
        font-size: 0.8rem;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
            opacity: 0.7;
        }
    }
    & div{
        display: flex;
        gap: 1rem;
    }
    & div>p{
        font-size: 1.5rem;
        margin-bottom: 1rem;
        & i{
            color: inherit;
            font-size: 1.8rem;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}


/** MEDIA QUERIES */
@media (min-width: 375px) {
    .slider{
        height: 565px;
    }

    .card{
        height: 550px;
    }

    .slider-btn{
        height: 550px;
    }
}

@media (max-width: 425px) {
    footer{
        padding: 1rem;
        font-size: 0.8rem;
    }

    footer div p{
        font-size: 1.1rem;
    }

    footer a{
        font-size: 0.65rem;
    }
}

@media (min-width: 426px) {
    .slider-btn{
        width: 8%;
    }

    main{
        width: 90vw;
    }
}

@media (min-width: 768px){
    .card-back figure{
        width: 300px;
        height: 168px;
        & iframe {
            width: 300px;
            height: 168px;
        }
        & .overlay {
            width: 300px;
            height: 168px;
        }
    }

    form fieldset:last-of-type{
        width: 424px;
    }

    /* ?Principal */
    .principal section:first-child{
        display: grid;
        grid-template-columns: 1fr 40%;
        gap: 1rem;
        & h2{
            grid-column: span 2;
        }
        & ul li:first-of-type{ 
            /* No funciona */
            margin-top: 0;
        }
        & ul li:nth-child(3), ul li:nth-child(4){
            /* No funciona */
            grid-column: span 2;
        }
        & figure{
            order: 2;
            grid-row: span 2;
        }
    }
}

@media (max-width: 1023px) {
    #details{
        display: none;
    }
}

@media (min-width: 1024px) {
    main{
        grid-template-columns: repeat(2, 1fr);
    }

    #introduction{
        grid-column: 1/3;
    }
}