@charset "utf-8";

:root{
    font-size: 16px;
    line-height: 1.5;
}

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #FDFDFD;
    --grey: #352E28;
    --green: #3D5D52;
    --light-green: #3d5d5251;
    --beige: #D3B8A5;
    --link: #0c4ebf;
    --font-names: 'Dancing Script', cursive;
    --font-text: 'Inter', sans-serif;
    --font-titles: 'Oswald', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    gap: 2em;
    height: 100vh;
    background-color: var(--white);
    font-family: var(--font-text);
}


/** TITULOS Y PÃRRAFOS  */
h1, h2, h3 {
    font-family: var(--font-titles);
}

h1 {
    text-align: center;
    top: 35vh;
    color: var(--grey);
}

h2 {
    text-align: center;
    color: var(--grey);
}

.card-front>p {
    font-family: var(--font-names);
    font-weight: 700;
}


/** HEADER */
header {
    flex: 0 0 70vh;
}

header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--beige);
}

header {
    & h1, nav, video, #content {
        position: absolute;
        width: 100%;
        & ul li a {
            color: var(--white);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    & #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(transparent, white);
        height: 70vh;
    }
    & figure {
        width: 100vw;
        height: 70vh;
        & video{
            height: 70vh;
            right: 0;
            top: 0;
            object-fit: cover;
        }
    }
    & nav {
        top: 0;
        & ul {
            display: flex;
            justify-content: right;
            & li{
                list-style-type: none;
                padding: 1rem;
            }
        }
    } 
}


/** MAIN Content */
main{
    flex: 1 0 auto;
    width: 100vw;
    /* padding: 0 1em; */
    margin: 0 auto;
}

/** General styles for card */
.card{
    width: 70%;
    border-radius: 15px;
    & figure{
        width: 100%;
        max-height: 50%;
        & img{
            width: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }
        & iframe {
            /* width: 560px;
            height: 315px; */
            width: 187px;
            height: 105px;
            border-radius: 15px;
            object-fit: contain;
            border: none;
            box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
        }
    }
    & h2, p{
        width: 90%;
        color: var(--green);
    }
    & p{
        color: var(--grey);
    }
}
.card-front, .card-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    background-color: var(--white);
    border-radius: 15px;
}

.card-front {
    & p{
        text-align: right;
    }
}

/** FLIP  */
/* The flip card container - width and height to be adjusted. */
.card {
    background-color: transparent;
    width: 300px;
    height: 600px;
    perspective: 1000px; /* 3D effect */
}
  
  /* This container is needed to position the front and back side */
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.16), 0 8px 8px rgba(0,0,0,0.20);
}

  /* Do an horizontal flip on hover */
.card:hover .card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

/** MODAL */

.overlay {
    position: absolute;
    /* background-color: #de1c1c6c; */
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 25%;
    cursor: pointer;
}
#container iframe{
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 25%;
}
/* Modal (background) */
.modal{
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oculta-modal{
    display: none;
}

/* Modal Content/Box */
.modal-container {
    position: relative;
    /* margin: auto; */
    padding: 0;
    width: 95%;
    height: 100%;
    animation: modal;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container figure{
    width: 50%;
    & iframe{
        width: 100%;
    }
}


/* The Close Button */
.modal-container > i {
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: transform ease 0.3s;
}

.modal-container i:hover,
.modal-container i:focus {
    color: var(--grey);
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
}


/* Add Animation */
@keyframes modal {
    from {
        top: -300px;
         opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/** FORM */
form {
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;
    & fieldset{
        border: none;
        width: 100%;
        & ul li {
            list-style: none;
            margin: 0.5em 0;
        }
        & input {
            padding: 0.5em 1em;
            border: 1px solid var(--light-green);
            border-radius: 6px;
            outline: none;
            color: var(--green);
            &::placeholder{
                color: var(--light-green);
            }
        }
        & #name, #surname, #email {
            width: 100%;
            &:focus{
                border: 1px solid var(--green);
            }
            &:active{
                border: 1px solid var(--green);
            }
        }
        & input[type="checkbox"] {
            accent-color: #fdfdfd;
            background-color: #3D5D52;
        }
        & input[type="submit"] {
            background-color: var(--green);
            color: var(--white);
        }
        & input[type="reset"] {
            background-color: var(--white);
            color: var(--green);
        }
        & input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="submit"]:active,
        input[type="reset"]:active {
            background-color: var(--light-green);
            color: var(--green);
        }
        & label {
            color: var(--grey);
            & a {
                color: var(--link);
            }
        }
    }
}


/** FOOTER */
footer{
    flex: 0 0 auto; /* flex-grow, flex-shrink, flex-basis */
}