@charset "utf-8";

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #cef6d8;
}

h1,h2{
    text-align: center;
    color: white;
}

header, footer{
    display: flex;
    flex: 0 0 auto; /* flex-grow, flex-shrink, flex-basis */
    justify-content: center;
    background-color: #0b3824;
}

main{
    flex: 1 0 auto; /* main ocupa todo el espacio entre header y footer */
    /*
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    */
}