@charset "utf-8";

:root{
    font-size: 16px;
}

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: #FDFDFD;
    --grey: #352E28;
    --green: #3D5D52;
    --beige: #D3B8A5;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--white);
}

h1,h2{
    text-align: center;
    color: var(--grey);
}

header{
    flex: 0 0 60vh;
}

header, footer{
    display: flex;
    justify-content: center;
    background-color: var(--beige);
}

footer{
    flex: 0 0 auto; /* flex-grow, flex-shrink, flex-basis */
}

main{
    flex: 1 0 auto; /* main ocupa todo el espacio entre header y footer */
}